services:
  postgres:
    image: postgres:17
    container_name: ink-flow-postgres
    environment:
      POSTGRES_USER: root
      POSTGRES_PASSWORD: root
    volumes:
      - ./script/postgres/:/docker-entrypoint-initdb.d/
      - postgres_data:/var/lib/postgresql/data
    ports:
      - "15432:5432"

  redis:
    image: redis:7
    container_name: ink-flow-redis
    volumes:
      - redis_data:/data
    ports:
      - "16379:6379"


  meilisearch:
    image: getmeili/meilisearch:v1.13.3
    container_name: ink-flow-meilisearch
    ports:
      - "7700:7700"
    volumes:
      - meilisearch_data:/meili_data

  meilisearch-ui:
    image: riccoxie/meilisearch-ui:latest
    container_name: ink-flow-meilisearch-ui
    ports:
      - "24900:24900"



  prometheus:
    image: prom/prometheus:v3.2.1
    container_name: ink-flow-prometheus
    volumes:
      - ./prometheus.yaml:/etc/prometheus/prometheus.yml
      - prometheus_data:/prometheus
    ports:
      - "9090:9090"

  kafka:
    image: apache/kafka:3.9.0
    container_name: ink-flow-kafka
    ports:
      - "9092:9092"
      - "9094:9094"
    volumes:
      - kafka_data:/var/lib/kafka/data
    environment:
      - KAFKA_NODE_ID=0
      - KAFKA_PROCESS_ROLES=controller,broker
      - KAFKA_LISTENERS=PLAINTEXT://0.0.0.0:9092,CONTROLLER://:9093,EXTERNAL://0.0.0.0:9094
      - KAFKA_ADVERTISED_LISTENERS=PLAINTEXT://kafka:9092,EXTERNAL://localhost:9094
      - KAFKA_LISTENER_SECURITY_PROTOCOL_MAP=CONTROLLER:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT:PLAINTEXT
      - KAFKA_CONTROLLER_QUORUM_VOTERS=0@kafka:9093
      - KAFKA_CONTROLLER_LISTENER_NAMES=CONTROLLER
      - KAFKA_AUTO_CREATE_TOPICS_ENABLE=true
      - KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR=1
      - CLUSTER_ID=MkU3OEVBNTcwNTJENDM2Qk
  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    container_name: ink-flow-kafka-ui
    ports:
      - "18080:8080"
    environment:
      DYNAMIC_CONFIG_ENABLED: true

  jeager:
    image: jaegertracing/jaeger:2.4.0
    container_name: ink-flow-jeager
    ports:
      - "16686:16686" # jaeger ui
      - "4317:4317" # jaeger grpc
      - "4318:4318" # jaeger http
      - "5778:5778" # jaeger thrift
      - "9411:9411" # jaeger udp

  grafana:
    image: grafana/grafana:11.5.2
    container_name: ink-flow-grafana
    volumes:
      - grafana_data:/var/lib/grafana
    ports:
      - "3000:3000"

  gorse:
    image: zhenghaoz/gorse-in-one
    container_name: ink-flow-gorse
    restart: unless-stopped
    ports:
      - "8086:8086"   # gRPC port
      - "8088:8088"   # HTTP port
    environment:
      # Use Redis as cache storage backend.
      GORSE_CACHE_STORE: redis://redis:6379
      # Use MySQL as data storage backend.
      GORSE_DATA_STORE: postgres://root:root@postgres:5432/gorse?sslmode=disable
    command: >
      -c /etc/gorse/config.toml
      --log-path /var/log/gorse/master.log
      --cache-path /var/lib/gorse/master_cache.data
    volumes:
      # Mount the configuration file.
      - ./config/gorse/config.toml:/etc/gorse/config.toml
    depends_on:
      - redis
      - postgres
      - jeager

  temporal:
    build:
      context: ./deps/temporal
      dockerfile: Dockerfile
    container_name: ink-flow-temporal
    ports:
      - "7233:7233" # temporal server
      - "8233:8233" # temporal web

  # Application Backend
  backend:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: ink-flow-backend
    ports:
      - "8080:8080" # App Server
      - "8081:8081" # Prometheus Metrics
    volumes:
      - ./config:/app/config
    depends_on:
      - postgres
      - redis
      - kafka
      - meilisearch

  # Application Frontend
  frontend:
    build:
      context: ./ink-flow-web
      dockerfile: Dockerfile
    container_name: ink-flow-frontend
    ports:
      - "80:80" # Host port 80 maps to container port 80
    depends_on:
      - backend

volumes:
  postgres_data:
  redis_data:
  meilisearch_data:
  prometheus_data:
  kafka_data:
  grafana_data:
